html
    head
        link(rel='stylesheet' href='/css/index2.css')
    body
        div.container
            header
                h1 #{ph}
            sidebar1
                h1 somwthing
            article
                h1 somwthing
            sidebar2
                h1 somwthing
            footer
                h1 #{ph}